
/* CSS para o calendario todo */
.container.calendario {
    font-family: 'PT Sans', sans-serif;
}

/* Imagem da seta ao lado do Ano/Mes */
img.seta {
    padding: 0px 0px;
}

/* Tabela */
.table {
    margin: auto;
}

/* Ano/Mes */
h3.ano-mes {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
}

/* Linha principal da tabela */
.table thead tr th {
    text-align: center;
}
.table thead tr th:nth-of-type(7) {
    color: cornflowerblue;
}
.table thead tr th:nth-of-type(1) {
    color: indianred;
}

/* Celulas da tabela */
.table tbody tr td {
    height: 100px;
}
.table tbody tr td:nth-of-type(7) {
    color: cornflowerblue;
}
.table tbody tr td:nth-of-type(1) {
    color: indianred;
}

/* CSS para o dia atual */
.hoje {
    background: mediumaquamarine;
}